* {
    box-sizing: border-box;
}

p {
	color: black;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 30px;
}
body{
	margin: 0;
	padding: 0;
	width: 100%;
}
h1 {
	font-family:"Arvo";
	font-weight:normal;
	font-size: 55px;
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 0;
}
h2 {
	font-family: "Arvo";
	font-weight: normal;
	font-size: 40px;
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 0;
}
h3 {
	font-family: Oswald;
	font-weight: normal;
	font-size: 23px;
	text-align: center;
	margin: 5px 0;
	padding: 0;
	z-index: 1;
	position: relative;
}

.navbar-right {
	border: 1px solid white;
	background-color: #002840;
}

.center { 
	margin: 0 auto; 
}
.content{ 
	margin: 0 auto; 
	width: 100%; 
}
.clear { 
	clear: both; 
}

.navbar-default {
	width: 100%;
	background-color: #002840;
	height: 55px;
	position: fixed;
	z-index: 10000;
	text-decoration: none; 
	float: left; 
	font-size: 30px; 
	font-family:"Wellfleet"; 
	font-weight: bold; 
	border: none;
	border-bottom: 1px solid white !important;
/*	margin-top: 30px;
*/}

.navbar-brand {
	color: #fff !important;
	padding: 0px 15px;
	line-height: 55px;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
}
#nav { 
	float: right; 
	margin-top: 8px; 
	padding-right: 20px;
}
#head { 
	text-decoration: none; 
	float: left; 
	font-size: 30px; 
	margin-top: 11px; 
	margin-left: 20px;
	color: #fff; 
	font-family:"Wellfleet"; 
	font-weight: bold; 
}
.navbar-default ul{
	list-style: none;
	display: block;
	margin: 0 auto;
	list-style: none;
}
.navbar-default li{
	float: left;
	padding-left: 21px;
}
.navbar-default li a { 
	color: white; 
	opacity:0.6; 
	font-size: 16px; 
	text-decoration: none; 
	font-family: 'Wellfleet'; 
}
.navbar-default li a.active { 
	color: white; 
	opacity:1; 
	line-height: 55px;
	padding: 0px 15px;
}

/*.navbar-default li a:hover { 
	color: #fff; 
	opacity:1; 
}*/

.explanation {
	font-family: 'Goudy Bookletter 1911', serif;
	font-weight: normal;
	font-size: 30px;
	text-align: left;
	margin: 0px auto;
}

#about p {
	text-align: left;
}

 .explanation-container { 
 	width: 100%; 
 	margin: 0 auto; 
 	position: relative;
 	top: 50%;
 	transform: translateY(-50%); 
 }

 #about .explanation-container {
 	 	margin-top: 150px;

 }
#divider { 
	background: url('../img/divider.png')no-repeat; 
	width: 300px; 
	height: 35px; 
	margin: 0px auto 27px auto;
	color: black; 
}

#home, #mern{ 
	width: 100%; 
}
#home{
/*background-color: #003D62;*/
background: url('../img/milkyway.jpg') no-repeat center center fixed;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
color: black;
margin-top: 0;
padding: 250px 0px;
padding-bottom: 235px;
border-bottom: 3px solid;
border-color: #FF5B40;
}

#about{
background-color: #fff;
color: #fff;
/*padding: 200px 0 600px 0;
*/background-size: cover;
margin: 40px 0px;
padding: 80px 0px;
margin-top: 0px;
padding-top: 120px;

max-width: 1200px;
margin: 0 auto;
}

/*#projects {
max-width: 1100px;
margin: 0 auto;
}*/

#mern{
background-color: #e4e4e4;
color: black;
/*height: 400px;
*/margin: 0 auto;
/*overflow: hidden;
*/padding: 200px 0;
padding-top: 75px;
padding-bottom: 100px;
border-top: 3px solid;
border-bottom: 3px solid;
border-color: #FF5B40;

}
#redux{
background-color: #fff;
color: black;
/*height: 400px;
*/padding: 250px 0;
padding-top: 75px;
padding-bottom: 190px;
border-bottom: 3px solid;
border-color: #FF5B40;
}
#node{
background-color: #e4e4e4;
color: #FF5B40;
/*height: 400px;
*/padding: 200px 0;
/*padding-bottom: 400px;
*/
padding-top: 75px;
padding-bottom: 100px;
border-bottom: 3px solid;
border-color: #FF5B40;
}
#api{
background-color: #fff;
/*height: 400px;
*/margin: 0 auto;
padding: 200px 0;
/*padding-bottom: 400px;
*/color: black;
background-size: cover;
padding-top: 75px;
border-bottom: 3px solid;
border-color: #FF5B40;
}
#contact{
background-color: black;
color: black;
padding: 25px 0;
background-size: cover;
/*padding-top: 75px;
*/border-bottom: 3px solid;
border-color: #FF5B40;
}


img {
	max-width: 100%;
/*	height: auto;
*/	margin: 0 auto;
	border: solid #FF5B40;
	margin-left: 85px;
}

.img-container {
	max-width: 600px;
}

/*.rows {
	margin-left: -20px;
}*/

.heading-black {
	color: black;
}

.heading-white {
	color: #fff;
}



.repo-link {
	text-align: center;
}

.repo-link {
	text-decoration: none;
	display: block;

}

a.link-black:hover {
	color: #FF5B40;
}

a.link-white:hover {
	color: #FF5B40;
}

.repository {
	width: 100%;
	height: 20px;
}

#mern .intro {
	margin-bottom: 120px;
}

/*@media (max-width: 900px) {
  .explanation-container {
  	width: 65%;
  }
  #mern, #redux, #node, #api {
  	padding-bottom: 600px;
  }
  #mern, #redux {
  	padding-top: 100px;
  }
  #node, #api {
  	padding-top: 165px;
  }
}

@media (max-width: 600px) {
  p {
  	padding-left: 0px;
  	padding-right: 0px;
  	font-size: 25px;
  }
  #contact h2 {
  	font-size: 30px;
  }

  /*a {
	font-size: 10px !important;
  }

  #nav {
  	width: 100%;
  }

  #header {
  	height: 135px;
  }
}
*/
.sean {
	font-size: 4.0rem;
	font-weight: bold ;
}

@media (max-width: 760px) {
	#contact .explanation-container {
		width: 100%;
	}

}

@media (max-width: 980px) {
	img {
		margin-left: 65px !important;
	}

}

.under-dev p {
	font-size: 18px;
}

.about-explanation {
	width: 70%;
	margin: 0 auto;
	font-size: 27px;
	margin-right: 75px;
}

@media (max-width: 690px) {
  .about-explanation {
  	font-size: 25px;
  }
}
@media (max-width: 890px) {
  .explanation-container {
  	width: 75%;
  }

  .me-pic {
  	margin-left: 0px !important;
  }

  #mern .intro-to-project, #redux .intro-to-project, #api .intro-to-project  {
  	margin-bottom: 300px;
  }

   #node .intro-to-project {
  	margin-bottom: 325px !important;
  }

  #mern, #redux, #node, #api {
  	padding-bottom: 0px;
  	height: 950px;
  }

  img {
  	margin-bottom: 30px;
  	margin-left: 0px !important;
  }

  .pic-container {
  	width: 30%;
  	margin: 0 auto;
  }

  #about .about-explanation {
  	float: none !important;
  	margin: 0 auto !important;

  }

  .me-pic {
  	float: none !important;
  	display: inline !important;
  }

  #about .content {
  	margin-bottom: 0px !important;
  }

}

@media (max-width: 550px) {
	#mern .intro-to-project, #redux .intro-to-project, #api .intro-to-project  {
  	margin-bottom: 228px;
  }

   #node .intro-to-project {
  	margin-bottom: 250px !important;
  }
}

@media (max-width: 850px) {
	.glyphicon {
		padding-left: 25px !important;
	}
}

@media (max-width: 400px) {
  .about-explanation {
  	font-size: 20px;
  }
}

@media (max-width: 557px) {
  #contact {
  	margin-top: 50px;
  }
}

@media (max-width: 422px) {
  #contact {
  	margin-top: 75px;
  }
}

@media (max-width: 790px) {
  .skill {
  	width: 100% !important;
  	display: block !important;
  	margin: 0 auto !important;
  }

  .glyphicon {
  	display: block !important;
  	margin: 0 auto !important;
  	float: none !important;
  	padding: 0px !important;
  	margin-bottom: 15px !important;
  }

  .skill-list {
  	padding-left: 0px;
  }

}

.contact-icons {
	border-style: none;
	width: 30px;
	height: auto;
	margin-left: 0px;
}

.icons {
	text-align: center;
}

.glyphicon {
	color: #FF5B40;
    width: 70px;
    height: auto;
    top: 9px !important;
    font-size: 29px;
    margin-left: 1px;
}

.skills-used {
	font-size: 50px;
	color: black;
}


#contact .heading-black {
	font-size: 25px;
	margin-bottom: 15px;
}

a {
	color: black;
}

.white-title-link {
	color: black;
}

.black-title-link {
	color: black;
}

.white-title-link:hover {
	color: #FF5B40;
}

.black-title-link:hover {
	color: #FF5B40;
}


p.intro-to-project {
	color: black;
	max-width: 720px;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	font-size: 20px;
}

.intro {
	width: 100%;
	margin-bottom: 150px;
	color: #FF5B40;
}

#node .intro-to-project /*#api .intro-to-project*/ {
	margin-bottom: 150px;
}

#redux .intro, #api .intro {
	margin-bottom: 100px;
}

 h3 {
	color: black;
}

.me-pic {
	display: block;
	float: left;
	max-width: 100%;
	border-radius: 150px;
	border-color: #E74C3C;
	margin-left: 65px;

}

#about .about-explanation {
	float: right;
	font-size: 20px;
	margin-top: -55px;
	margin-right: 0px;
}

#about .content {
	margin-bottom: 200px;
}

.skills-container {
	clear: both;

}

.pic-container {
	max-width: 20%;
}

.skill {
	display: inline-block;
	width: 33%;
	margin-top: 60px;
}

.glyphicon {
	float: left;
	padding-left: 70px;
}

.skill-item {
	color: black;
	text-align: center;
}

.skill-list {
	list-style: none;
}

a:hover {
	color: #FF5B40 !important;
}

.icon-bar {
	background-color: white !important;
}

.normal-nav {
	background-color: transparent;
	border: none;
}

.heading-black.contact {
	color: white !important;
}

.contact-icons.mail {
	width: 55px;
}

.contact-icons.linkedin {
	margin-right: -10px;
}

.navbar-brand:hover {
	color: #fff !important;
}

.javascript-tag {
	padding: 20px 0px;
}

.content .rows {
	max-width: 1200px;
	margin: 0 auto;
}

.intro {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
