* {
    box-sizing: border-box;
}

p {
	color: black;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 30px;
}
body{
	margin: 0;
	padding: 0;
	width: 100%;
}
h1 {
	font-family:"Arvo";
	font-weight:normal;
	font-size: 55px;
	text-align: center;
	color: white;
	margin: 0;
	padding: 0;
}
h2 {
	font-family:"Arvo";
	font-weight: normal;
	font-size: 40px;
	text-align: center;
	color: white;
	margin: 0;
	padding: 0;
}
h3 {
	font-family: Oswald;
	font-weight: normal;
	font-size: 23px;
	text-align: center;
	margin: 5px 0;
	padding: 0;
	z-index: 1;
	position: relative;
}

.center { 
	margin: 0 auto; 
}
.content{ 
	margin: 0 auto; 
	width: 100%; 
}
.clear { 
	clear: both; 
}

.navbar-default {
	width: 100%;
	background-color: #56575b;
	height: 55px;
	position: fixed;
	z-index: 10000;
	text-decoration: none; 
	float: left; 
	font-size: 30px; 
	font-family:"Wellfleet"; 
	font-weight: bold; 
/*	margin-top: 30px;
*/}

.navbar-brand {
	color: white !important;
}

.navbar-default .navbar-nav>li>a {
	color: white !important;
}
#nav { 
	float: right; 
	margin-top: 8px; 
	padding-right: 20px;
}
#head { 
	text-decoration: none; 
	float: left; 
	font-size: 30px; 
	margin-top: 11px; 
	margin-left: 20px;
	color: white; 
	font-family:"Wellfleet"; 
	font-weight: bold; 
}
.navbar-default ul{
	list-style: none;
	display: block;
	margin: 0 auto;
	list-style: none;
}
.navbar-default li{
	margin-top: 9px;
	float: left;
	padding-left: 21px;
}
.navbar-default li a { 
	color: white; 
	opacity:0.6; 
	font-size: 16px; 
	text-decoration: none; 
	font-family: 'Wellfleet'; 
}
.navbar-default li a.active { 
	color: white; 
	opacity:1; 
}

.navbar-default li a:hover { 
	color: #fff; 
	opacity:1; 
}

.explanation {
	font-family: 'Goudy Bookletter 1911', serif;
	font-weight: normal;
	font-size: 30px;
	text-align: left;
	margin: 0px auto;
}

 .explanation-container { 
 	width: 100%; 
 	margin: 0 auto; 
 	position: relative;
 	top: 50%;
 	transform: translateY(-50%); 
 }

 #about .explanation-container {
 	 	margin-top: 150px;

 }
#divider { 
	background: url('../img/divider.png')no-repeat; 
	width: 300px; 
	height: 35px; 
	margin: 0px auto 27px auto;
	color: black; 
}

#home, #mern{ 
	width: 100%; 
}
#home{
/*background-color: #A4B7FF;*/
background: url('../img/background-photo-5.jpg') no-repeat center center fixed;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
color: black;
margin-top: 0;
padding: 200px 0px;
}

#about{
background-color: white;
color: #fff;
/*padding: 200px 0 600px 0;
*/background-size: cover;
margin: 40px 0px;
padding: 80px 0px;
}
#mern{
background-color: #A4B7FF;
color: #F1F4FF;
/*height: 400px;
*/margin: 0 auto;
/*overflow: hidden;
*/padding: 200px 0;
padding-top: 75px;
padding-bottom: 100px;

}
#redux{
background-color: white;
color: black;
/*height: 400px;
*/padding: 250px 0;
padding-top: 75px;
padding-bottom: 190px;
}
#node{
background-color: #A4B7FF;
color: #F1F4FF;
/*height: 400px;
*/padding: 200px 0;
/*padding-bottom: 400px;
*/
padding-top: 75px;
padding-bottom: 100px;
}
#api{
background-color: white;
/*height: 400px;
*/margin: 0 auto;
padding: 200px 0;
/*padding-bottom: 400px;
*/color: black;
background-size: cover;
padding-top: 75px;
}
#contact{
background-color: #F1F4FF;
color: black;
padding: 50px 0;
background-size: cover;
padding-top: 75px;
}


img {
	max-width: 100%;
/*	height: auto;
*/	margin: 0 auto;
	border: solid black;
	margin-left: 25px;
}

.img-container {
	max-width: 600px;
}

/*.rows {
	margin-left: -20px;
}*/

.heading-black {
	color: black;
}

.heading-white {
	color: white;
}



.repo-link {
	text-align: center;
}

.repo-link {
	text-decoration: none;
	display: block;

}

a.link-black:hover {
	color: white;
}

a.link-white:hover {
	color: black;
}

.repository {
	width: 100%;
	height: 20px;
}

#mern .intro {
	margin-bottom: 120px;
}

/*@media (max-width: 900px) {
  .explanation-container {
  	width: 65%;
  }
  #mern, #redux, #node, #api {
  	padding-bottom: 600px;
  }
  #mern, #redux {
  	padding-top: 100px;
  }
  #node, #api {
  	padding-top: 165px;
  }
}

@media (max-width: 600px) {
  p {
  	padding-left: 0px;
  	padding-right: 0px;
  	font-size: 25px;
  }
  #contact h2 {
  	font-size: 30px;
  }

  /*a {
	font-size: 10px !important;
  }

  #nav {
  	width: 100%;
  }

  #header {
  	height: 135px;
  }
}
*/
.sean {
	font-size: 4.0rem;
	font-weight: bold ;
}

.node {
	color: #ff4d4d;
}
.web-engineer {
	color: #16a085;
}

.react {
	color: #99992d;
}

.java {
	color: #4B0082;
}

@media (max-width: 760px) {
	#contact .explanation-container {
		width: 100%;
	}
}

.under-dev p {
	font-size: 18px;
}

.about-explanation {
	width: 100%;
	max-width: 720px;
	margin: 0 auto;
	font-size: 27px;
}

@media (max-width: 690px) {
  .about-explanation {
  	font-size: 25px;
  }
}
@media (max-width: 890px) {
  .explanation-container {
  	width: 75%;
  }

  #mern .intro-to-project, #redux .intro-to-project, #api .intro-to-project  {
  	margin-bottom: 300px;
  }

   #node .intro-to-project {
  	margin-bottom: 325px !important;
  }

  #mern, #redux, #node, #api {
  	padding-bottom: 0px;
  	height: 950px;
  }

  img {
  	margin-bottom: 30px;
  	margin-left: 0px;
  }

}

@media (max-width: 550px) {
	#mern .intro-to-project, #redux .intro-to-project, #api .intro-to-project  {
  	margin-bottom: 228px;
  }

   #node .intro-to-project {
  	margin-bottom: 250px !important;
  }
}

@media (max-width: 400px) {
  .about-explanation {
  	font-size: 20px;
  }
}

@media (max-width: 557px) {
  #contact {
  	margin-top: 50px;
  }
}

@media (max-width: 422px) {
  #contact {
  	margin-top: 75px;
  }
}

.contact-icons {
	border-style: none;
	width: 30px;
	height: auto;
	margin-left: 0px;
}

.icons {
	text-align: center;
}

.glyphicon {
	color: black;
    width: 70px;
    height: auto;
    top: 9px !important;
    font-size: 29px;
    margin-left: 1px;
}

.skills-used {
	font-size: 50px;
	color: black;
}


#contact .heading-black {
	font-size: 25px;
	margin-bottom: 15px;
}

a {
	color: black;
}

.white-title-link {
	color: black;
}

.black-title-link {
	color: black;
}

.white-title-link:hover {
	color: white;
}

.black-title-link:hover {
	color: black;
}


p.intro-to-project {
	color: black;
	max-width: 720px;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	font-size: 20px;
}

.intro {
	width: 100%;
	margin-bottom: 150px;
	color: #F1F4FF;
}

#node .intro-to-project /*#api .intro-to-project*/ {
	margin-bottom: 150px;
}

#redux .intro, #api .intro {
	margin-bottom: 100px;
}

 h3 {
	color: black;
}
